---
import { getEntry } from 'astro:content';
import { Image } from 'astro:assets';

import type { ContentDataEntryType } from '@app-types/Content';
import type { AboutMeData } from '@schemas/AboutMeSchema';
import { CONTENT } from '@app-types/Content';
import { Credentials } from '.';
import { VerticalSpacer, BadgeList } from "../";
import RocketIcon from '@assets/svg/rocket.svg';
import MagicStickIcon from '@assets/svg/magic_stick.svg';
import CodeFileIcon from '@assets/svg/code_file.svg';
import WaveAnimation from "@assets/gifs/wave.gif";
import CrystalBallAnimation from "@assets/gifs/crystal_ball.gif";
import MeImg from "@assets/images/me.png";

const { lang } = Astro.params;

const entry = await getEntry(lang as ContentDataEntryType, `${lang}/${CONTENT.COMMON}`);
const { section_about, common } = (entry?.data as AboutMeData) || {};
---

<div class="container mx-auto px-5 mt-10">
    <div class="grid lg:grid-cols-6">
        <div class="col-span-3 space-y-4 m-3 lg:m-12 content-center">
            <p class="flex items-center gap-2 font-medium">
                <Image src={WaveAnimation} width="64" height="64" alt="Waving" aria-label="Waving"/>
                <span class="text-3xl font-semibold text-accent">{section_about.greeting}</span>
            </p>
            <h1 class="font-semibold text-5xl lg:text-6xl leading-16" set:html={section_about.my_name_template} />
            <p class="text-lg lg:text-xl leading-8 p-2 m-0">{section_about.summary}</p>
        </div>
        <div class="col-span-3 p-12 relative">
            <figure class="avatar-image">
                <Image src={MeImg} alt="My image" aria-label="My image" />
            </figure>
            <div class="chat absolute top-64 left-[-30px] w-1/2 hidden lg:block">
                <div class="chat-bubble">
                    <div class="text-slider-mask">
                        <div class="text-slider">
                            {section_about.avatar_messages.map((message: string) => (
                                <p class="no-select">{message}</p>
                            ))}
                            <p>{section_about.avatar_messages[0]}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="md:grid md:grid-cols-8 about-me-wrapper">
        <div class="col-span-full lg:col-span-2 w-full rounded-lg">
            <span class="block font-semibold text-xl my-2">{section_about.hobbies_title}</span>
            <span class="block text-xl">{section_about.hobbies}</span>
            <span class="block text-xs my-3 text-info-content-color">{section_about.language_tip}</span>
        </div>
        <div class="col-span-6 flex items-center">
            <div class="stats stats-vertical md:stats-horizontal w-full">
                {section_about.languages.map((language: any) => (
                    <div class="stat space-y-1">
                        <div class="stat-figure text-4xl">{language.emoji}</div>
                        <div class="stat-value font-semibold text-xl">{language.name}</div>
                        <div class="stat-desc text-info-content-color">{language.proficiency}</div>
                        <progress class="progress progress-primary w-40" value={language.value} max="100" />
                    </div>
                ))}
            </div>
        </div>
    </div>
    <VerticalSpacer />
    <div class="grid lg:grid-cols-6 gap-8 mt-5">
        <div class="col-span-1">
            <h3 class="text-3xl font-semibold" set:html={section_about.expertise.title}></h3>
        </div>
        <div class="col-span-5">
            <div class="divider divider-end flex items-center">
                <p class="tooltip tooltip-primary dark:tooltip-secondary" data-tip={section_about.v_shaped_explanation}>
                    <span class="uppercase font-semibold text-primary dark:text-secondary cursor-pointer">{section_about.v_shaped_profile}</span>
                </p>
                <Image src={CrystalBallAnimation} width="48" height="40" alt="Crystal ball" aria-label="Crystal ball"/>
            </div>
        </div>
    </div>
    <br />
    <div class="grid sm:grid-cols-8 gap-8">
        <div class="col-span-full sm:col-span-2">
            <p class="flex text-xl lg:text-lg leading-8">
                <font class="text-7xl text-primary mr-3">“</font>
                <br />
                {section_about.about_me}
            </p>
        </div>
        {section_about.expertise.subjects.map((subject) => (
            <div class="col-span-full sm:col-span-2">
                <div class="group flex h-full w-full">
                    <div class="card-informative border border-neutral-300 transition-all duration-500 transform-3d group-hover:transform-[rotateY(180deg)]">
                        <div class="backface-hidden w-full">
                            <div class="flex justify-between items-center align-middle">
                                <div class="card-informative-icon-wrapper">
                                    {subject.category === "product" && <RocketIcon width={42} height={42} />}
                                    {subject.category === "coding" && <CodeFileIcon width={42} height={42} />}
                                    {subject.category === "data" && <MagicStickIcon width={42} height={42} />}
                                </div>
                                <span class="text-sm font-semibold block lg:w-full text-right text-secondary dark:text-warning">
                                    {common.flip_to_check_stack}
                                </span>
                            </div>
                            <span class="block my-5 text-2xl font-medium">{subject.name}<font class="text-accent text-3xl">.</font></span>
                            <ul class="space-y-2">
                                {subject.topics.map((topic) => (
                                    <li class="md:text-sm text-lg text-info-content-color">{topic}</li>
                                ))}
                            </ul>
                        </div>
                        <div class="absolute inset-0 transform-[rotateY(180deg)] backface-hidden p-6 flex flex-col border border-neutral-300 rounded-lg">
                            <span class="block font-semibold mb-4 text-info-content-color-backface">🕹️ {common.technologies}</span>
                            <BadgeList items={subject.tools} badgeClass="lg:badge-sm badge-secondary" />
                        </div>
                    </div>
                </div>
            </div>
        ))}
    </div>
</div>
<br />
<Credentials />
<VerticalSpacer />

<style>
    @reference "@styles/global.css";
    
    .card-informative {
        @apply p-6 rounded-lg flex w-full;
    }
    
    .card-informative.is-flipped {
        transform: rotateY(180deg);
    }
    
    .card-informative, .backface-hidden {
        backface-visibility: hidden;
    }

    .card-informative-icon-wrapper {
        @apply bg-primary/5 w-fit rounded-full p-3;
    }

    html[data-theme="dark"] .card-informative, html[data-theme="dark"] .backface-hidden {
        @apply bg-slate-800 border border-transparent;
    }

    html[data-theme="dark"] .card-informative:hover {
        @apply border-indigo-400 shadow-lg shadow-primary/65;
    }

    html[data-theme="dark"] .card-informative-icon-wrapper  {
        @apply bg-primary/30;
    }

    html[data-theme="dark"] .card-informative-icon-wrapper svg  {
        @apply stroke-accent;
    }
    .avatar-image {
        border-radius: 50%;
        background: linear-gradient(135deg, var(--color-cobalt-blue) 0%, var(--color-electric-teal) 100%);
    }

    .text-slider-mask {
        @apply h-[1.3rem] overflow-hidden;
    }

    .text-slider {
        animation: slideText 16s infinite cubic-bezier(0.7, 0, 0.3, 1);
    }

    .text-slider p {
        line-height: 1.3em;
        user-select: none;
        -webkit-user-select: none;
    }

    .text-slider-item {
        @apply leading-[1.3rem];
    }

    .about-me-wrapper {
        @apply gap-8 shadow-lg rounded-lg px-5 py-4 border border-neutral-100;
    }

    .text-info-content-color {
        @apply text-neutral-500;
    }

    html[data-theme="dark"] .text-info-content-color {
        @apply text-base-content;
    }

    .text-info-content-color-backface {
        @apply text-neutral;
    }

    html[data-theme="dark"] .text-info-content-color-backface {
        @apply text-primary-content;
    }

    html[data-theme="dark"] .about-me-wrapper {
        @apply bg-slate-800 border-0 shadow-lg shadow-primary/65;
    }

    html[data-theme="dark"] .chat-bubble {
        @apply bg-slate-600;
    }

    @keyframes slideText {
        0%, 25% { transform: translateY(0%); }
        30%, 45% { transform: translateY(-25%); }
        50%, 70% { transform: translateY(-50%); }
        75%, 94.99% { transform: translateY(-75%); } 
        95%, 100% { transform: translateY(0%); } 
    }
</style>

<script>
    const FLIP_CLASS = 'is-flipped';
    const flipCards = document.querySelectorAll('.card-informative');

    if (flipCards.length > 0) {
        flipCards.forEach(card => {
            card.addEventListener('touchstart', (event) => {
                event.preventDefault(); 
                
                const wasFlipped = card.classList.contains(FLIP_CLASS);
                
                flipCards.forEach(otherCard => {
                    otherCard.classList.remove(FLIP_CLASS);
                });
                
                if (!wasFlipped) {
                    card.classList.add(FLIP_CLASS);
                }
            });
        });
    }
</script>