---
import { getEntry } from 'astro:content';

import type { ContentDataEntryType } from '@app-types/Content';
import type { Credentials } from '@schemas/CredentialSchema';
import type { AboutMeData } from '@schemas/AboutMeSchema';
import { CONTENT } from '@app-types/Content';
import Logo from '@assets/svg/certification.svg';
import { Section, LinkButton } from "../";

const { lang } = Astro.params;

const [common, credentials] = await Promise.all([
    await getEntry(lang as ContentDataEntryType, `${lang}/${CONTENT.COMMON}`),
    await getEntry(lang as ContentDataEntryType, `${lang}/${CONTENT.CREDENTIALS}`)
]);

const { section_credentials } = (common?.data as AboutMeData) || {};
const { credly_credentials, certifications } = (credentials?.data as Credentials) || {};
---

<Section headingTitle={section_credentials.title} subtitle={section_credentials.subtitle} class="container mx-auto">
    <Logo slot="beforeHeading" width={96} height={96} />
    <div class="flex md:flex-row flex-col gap-8 md:px-10">
        <div class="credential-list-wrapper">
            {credly_credentials.map(item => (
                <a href={item.badge_url} target="_blank" rel="noopener noreferrer" class="credential-item">
                    <img src={item.image_url} class="mb-3" width="150" height="150" alt={item.name} />
                    <p>
                        <span class="text-lg font-medium">{item.name}</span>
                        <span class="text-sm text-neutral-500">{item.organization}</span>
                    </p>
                </a>
            ))}
        </div>
        <div class="md:w-2/5 w-full flex flex-col">
            <ul class="list">
                {certifications.filter(({ display }) => display).map(item => (
                    <li class="list-row py-5 hover:bg-primary/5">
                        <p class="list-col-grow space-y-2">
                            <span class="text-neutral-500 block">{item.organization}</span>
                            <span class="font-medium text-lg block">{item.title}</span>
                        </p>
                        <LinkButton href={item.url} target="_blank" rel="noopener noreferrer" class='btn-circle' displayDefaultIcon />
                    </li>
                ))}
            </ul>
        </div>
    </div>
</Section>

<style>
    @reference "@styles/global.css";

    .credential-list-wrapper {
        @apply grid md:grid-cols-2 gap-8 p-2 md:w-3/5 w-full;
    }

    .credential-list-wrapper > .credential-item {
        @apply rounded-lg p-5 border cursor-pointer border-neutral-200 flex flex-col items-center;
    }

    .credential-list-wrapper > .credential-item p {
        @apply flex flex-col items-center text-center;
    }

    .credential-list-wrapper > .credential-item:hover {
        @apply border-indigo-400 shadow-lg shadow-indigo-200;
    }
</style>