---
import { ZodError } from 'astro:schema';
import { CrendentialSchema, type Credentials } from '@schemas/CredentialSchema';
import rawCredentials from '@content/credentials.json';
import { section_credentials, common } from '@content/common.json';
import ErrorIcon from '@assets/svg/error.svg';
import Logo from '@assets/svg/certification.svg';
import BookIcon from '@assets/svg/book.svg';
import { Section, LinkButton } from "../";

let validatedCredentials: Credentials | null = null;
let validationError: ZodError | null = null;

try {
    validatedCredentials = CrendentialSchema.parse(rawCredentials);
} catch (error) {
    if (error instanceof ZodError) {
        console.log(error);
        validationError = error;
    }
}
---

<Section headingTitle={section_credentials.title} subtitle={section_credentials.subtitle} class="container mx-auto">
    <Logo slot="beforeHeading" width={96} height={96} />
    <br />
    {validationError && (
        <div role="alert" class="alert alert-error">
            <ErrorIcon />
            <span class="text-lg">{common.cannot_load_content}</span>
        </div>
    )}
    <div class="flex md:flex-row flex-col gap-8 md:px-10">
        <div class="md:w-3/5 w-full credential-list-wrapper">
            {validatedCredentials?.credly_credentials.map(item => (
                <div class="credential-item border-neutral-200">
                    <a href={item.badge_url} target="_blank" rel="noopener noreferrer">
                        <img src={item.image_url} alt={item.name} class="mb-3" width="150" height="150" alt={item.name} />
                        <p class="flex flex-col items-center text-center">
                            <span class="text-lg font-medium">{item.name}</span>
                            <span class="text-sm text-neutral-500">{item.organization}</span>
                        </p>
                    </a>
                </div>
            ))}
        </div>
        <div class="md:w-2/5 w-full flex flex-col">
            <ul class="list">
                {validatedCredentials?.certifications.filter(({ display }) => display).map(item => (
                    <li class="list-row py-5 hover:bg-primary/5">
                        <div class="list-col-grow space-y-2">
                            <div class="text-neutral-500">{item.organization}</div>
                            <div class="font-medium text-lg">{item.title}</div>
                        </div>
                        <LinkButton href={item.url} target="_blank" rel="noopener noreferrer" class='btn-circle' displayDefaultIcon />
                    </li>
                ))}
            </ul>
        </div>
    </div>
</Section>

<style>
    @reference "tailwindcss";

    .alert-error > svg {
        @apply h-6 w-6 shrink-0 stroke-current;
    }

    .credential-list-wrapper {
        @apply grid md:grid-cols-2 gap-8 p-2;
    }

    .credential-list-wrapper > .credential-item {
        @apply rounded-lg p-5 border cursor-pointer;
    }


    .credential-list-wrapper > .credential-item:hover {
        @apply border-indigo-400 shadow-lg shadow-indigo-200;
    }

    .credential-list-wrapper > .credential-item a {
        @apply flex flex-col items-center;
    }
</style>