---
import { getCollection } from 'astro:content';
import { BadgeList, LinkButton, Section, HorizontalSpacer, Badge } from "../";
import type { ExperimentRole } from '@schemas/ExperimentSchema';
import Logo from '@assets/svg/case_of_studies.svg';
import { section_experiments } from '@content/common.json';

const roleIcons: Record<ExperimentRole, string> = {
    'Author': '🧑🏻‍💻',
    'Contributor': '🤝🏼'
};

const experiments = await getCollection('experiments');
---

<div class="bg-base-100">
    <HorizontalSpacer />
    <Section headingTitle={section_experiments.title} subtitle={section_experiments.subtitle} class="container mx-auto">
        <Logo slot="beforeHeading" width={96} height={96} />
        <HorizontalSpacer />
        <div class="grid md:grid-cols-2 gap-8 px-5 md:px-14">
            {experiments.map(({ data: experiment }) => (
                <div class="card">
                    <figure>
                        <img src={experiment.image} alt={experiment.title} aria-label={experiment.title} />
                    </figure>
                    <div class="card-body">
                        <div class="card-pre-content-wrapper">
                            <Badge class="badge-sm badge-primary">{experiment.category}</Badge>
                            {experiment.url && <LinkButton href={experiment.url} target="_blank" rel="noreferrer" class='btn-circle' displayDefaultIcon />}
                        </div>
                        <h2 class="card-title">{experiment.title}</h2>
                        <p class="card-pre-content-wrapper"> 
                            <span class="card-text-info">
                                <font class="text-2xl">{roleIcons[experiment.role as ExperimentRole]}</font> {experiment.type} · {experiment.role}
                            </span>
                        </p>
                        <p class="card-text-content">{experiment.description}</p>
                        <div class="card-actions"> 
                            <BadgeList items={experiment.tags} badgeClass="font-semibold badge-soft" />
                        </div>
                    </div>
            </div>
            ))}
        </div>
    </Section>
</div>

<style>
    @reference "tailwindcss";
    
    .card {
        @apply overflow-hidden rounded-lg border border-neutral-200;
        color: var(--color-neutral-dark);
    }

    .card-body {
        @apply p-8;
    }

    .card:hover {
        @apply border-indigo-400 shadow-lg shadow-indigo-200;
    }

    .card-pre-content-wrapper {
        @apply flex justify-between items-center mb-2;
    }

    .card-title {
        @apply text-2xl my-3 font-medium;
    }
    .card-text-info {
        @apply text-gray-400 text-sm uppercase;
    }
    .card-text-content {
        @apply text-neutral-800 text-lg leading-9 mb-5;
    }
    .badge {
        @apply uppercase font-semibold text-white; 
    }
</style>