---
import { getCollection } from 'astro:content';
import { BadgeList, LinkButton, Section, HorizontalSpacer } from "../";
import type { ExperimentRole } from '@schemas/ExperimentSchema';
import Logo from '@assets/svg/case_of_studies.svg';

const roleIcons: Record<ExperimentRole, string> = {
    'Author': '👨‍💻',
    'Contributor': '🤝'
};

const experiments = await getCollection('experiments');

---

<div class="bg-white">
    <Section headingTitle="Case of Studies and Conceptual Projects" subtitle="A curated collection of some of my projects and works" class="container mx-auto">
        <Logo slot="beforeHeading" width={64} height={64} />
        <HorizontalSpacer />
        <div class="mx-auto grid gap-10 px-10 lg:grid-cols-2">
            {experiments.map(({ data: experiment }) => (
                <article class="card">
                    <figure>
                        <img src={experiment.image} alt={experiment.title} />
                    </figure>
                    <div class="card-body p-8">
                        <div class="card-pretitle-wrapper">
                            <span class="badge badge-sm badge-primary">{experiment.category}</span>
                            {experiment.url && <LinkButton href={experiment.url} target="_blank" rel="noreferrer" class='btn-circle' displayDefaultIcon />}
                        </div>
                        <h2 class="card-title">{experiment.title}</h2>
                        <p class="flex justify-between items-center mb-2"> 
                            <span class="card-text-info">
                                {roleIcons[experiment.role]} {experiment.role} | {experiment.type}
                            </span>
                        </p>
                        <p class="card-text-content">{experiment.description}</p>
                        <div class="card-actions"> 
                            <BadgeList items={experiment.tags} badgeClass="font-semibold badge-soft badge-neutral" />
                        </div>
                    </div>
            </article>
            ))}
        </div>
    </Section>
</div>

<style>
    @reference "tailwindcss";
    .card {
        @apply overflow-hidden rounded-lg border border-neutral-200;
        color: var(--color-neutral-dark);
    }

    .card:hover {
        @apply border-indigo-200 shadow-xl shadow-indigo-100;
    }

    .card-pretitle-wrapper {
        @apply flex justify-between items-center mb-1;
    }
    .card-title {
        @apply text-2xl my-3;
    }
    .card-text-info {
        @apply text-gray-400 text-sm uppercase;
    }
    .card-text-content {
        @apply text-neutral-800 text-lg leading-9 mb-5;
    }
    .badge {
        @apply uppercase font-semibold text-white; 
    }
</style>