---
import { getCollection, getEntry } from 'astro:content';
import type { ContentDataEntryType } from '@app-types/Content';
import type { AboutMeData } from '@schemas/AboutMeSchema';
import type { Experiment, ExperimentRole } from '@schemas/ExperimentSchema';
import { CONTENT } from '@app-types/Content';
import { BadgeList, LinkButton, Section, Badge, AsyncImage } from "../";
import Logo from '@assets/svg/case_of_studies.svg';
import TrashIcon from '@assets/svg/trash.svg';

const roleIcons: Record<ExperimentRole, string> = {
    'Author': '🧑🏻‍💻',
    'Contributor': '🤝🏼'
};

const { lang } = Astro.params;

const [commonData, [ experimentsData ]] = await Promise.all([
    await getEntry(lang as ContentDataEntryType, `${lang}/${CONTENT.COMMON}`),
    await getCollection(lang as ContentDataEntryType, (collection) => collection.id === `${lang}/${CONTENT.EXPERIMENTS}`)
]);

const { section_experiments, common, header } = (commonData?.data as AboutMeData) || {};
const { data: experiments } = experimentsData as { data: Experiment[]};
const uniqueCategories = Array.from(new Set([...experiments.map(({ category }) => category)]));
---

<div class="bg-primary/5 py-10" id={header.main_sections[2].anchorId}>
    <br />
    <Section headingTitle={section_experiments.title} subtitle={section_experiments.subtitle} class="container mx-auto px-3 lg:px-10 xl:px-10">
        <Logo slot="beforeHeading" width={96} height={96} />
        <br />
        <form class="flex flex-col lg:flex-row flex-wrap lg:items-center gap-7 px-5 md:px-14 mb-10 justify-start lg:justify-end">
            {uniqueCategories.map((category) => (
                <div class="flex items-center gap-2">
                    <input 
                        class="checkbox checkbox-secondary category-filter"
                        type="checkbox" 
                        id={category}
                        value={category}
                        name="experiments_type" 
                    />
                    <label for={category} class="cursor-pointer font-semibold text-lg" data-category={category}>
                        {category}
                    </label>
                </div>
            ))}
            <button type="reset" class="btn btn-lg btn-circle btn-error ml-2" aria-label="Reset">
                <TrashIcon />
            </button>
        </form>
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 px-5 md:px-14">
            {experiments.map((experiment: Experiment) => (
                <div class="card experiment-card" data-category={experiment.category}>
                    <figure>
                        <AsyncImage imagePath={experiment.image} title={experiment.title} />
                    </figure>
                    <div class="card-body p-8">
                        <div class="card-pre-content-wrapper">
                            <Badge class="badge-sm badge-primary uppercase">{experiment.category}</Badge>
                            {experiment.url && <LinkButton href={experiment.url} target="_blank" rel="noopener noreferrer" class='btn-circle' displayDefaultIcon />}
                        </div>
                        <span class="card-pre-title-text flex items-center gap-2">
                            <font class="text-2xl">{roleIcons[experiment.role as ExperimentRole]}</font>
                            {experiment.role === "Author" && `${common.author}`}
                            {experiment.role === "Contributor" && `${common.contributor}`}   
                        </span>
                        <h2 class="card-title">{experiment.title}</h2>
                        <span class="card-text-info mb-3">
                            {experiment.type}
                        </span>
                        <p class="card-text-content">{experiment.description}</p>
                        <div class="card-actions"> 
                            <BadgeList items={experiment.tags} badgeClass="font-semibold badge-soft" />
                        </div>
                    </div>
            </div>
            ))}
        </div>
    </Section>
</div>

<style>
    @reference "@styles/global.css";
    
    .card {
        @apply overflow-hidden rounded-lg bg-base-100;
        color: var(--color-neutral-dark);
    }
    .card:hover {
        @apply border border-indigo-400 shadow-lg shadow-primary/20;
    }

    html[data-theme="dark"] .card {
        @apply bg-base-200 border border-transparent;
    }

    html[data-theme="dark"] .card:hover {
        @apply border-indigo-400 shadow-lg shadow-primary/65;
    }

    .card-pre-content-wrapper {
        @apply flex justify-between items-center;
    }

    .card-pre-title-text {
        @apply text-xs uppercase text-neutral-500 mt-3;
    }


    .card-title {
        @apply text-2xl mb-3 font-medium;
    }

    .card-text-info {
        @apply text-secondary text-sm uppercase font-semibold;
    }

    html[data-theme="dark"] .card-text-info  {
        @apply text-secondary;
    }

    .card-text-content {
        @apply text-neutral-800 text-lg leading-9 mb-5;
    }

    html[data-theme="dark"] .card-title, html[data-theme="dark"] .card-pre-title-text, html[data-theme="dark"] .card-text-content  {
        @apply text-base-content;
    }
</style>

<script>
    const setupFilters = () => {
        const checkboxes = document.querySelectorAll<HTMLInputElement>('.category-filter');
        const cards = document.querySelectorAll<HTMLElement>('.experiment-card');
        const resetBtn = document.querySelector('button[type="reset"]');

        const filter = () => {
            const activeCategories = Array.from(checkboxes)
                .filter(element => element.checked)
                .map(element => element.value);

            console.log(cards);

            cards.forEach(card => {
                const cardCategory = card.dataset.category;
                if (activeCategories.length === 0 || activeCategories.includes(cardCategory!)) {
                    card.style.display = 'flex';
                } else {
                    card.style.display = 'none';
                }
            });
        };

        checkboxes.forEach(cb => cb.addEventListener('change', filter));
        
        resetBtn?.addEventListener('click', () => {
            console.log("Reset...");
            
            setTimeout(filter, 10);
        });
    };

    setupFilters();
    // Para transiciones de página de Astro:
    // document.addEventListener('astro:after-swap', setupFilters);
</script>
