---
import { getCollection } from 'astro:content';
import { LinkButton, Section, HorizontalSpacer, Badge } from "../";
import Logo from '@assets/svg/projects.svg';
import Pin from '@assets/svg/pin.svg';
import SmileFace from '@assets/svg/smile-face.svg';
import Monitor from '@assets/svg/monitor.svg';

const projects = await getCollection('projects');
const projectsJSON = JSON.stringify(projects);
---

<div class="bg-primary/5">
    <Section headingTitle="Showcased Projects" subtitle="Presented project work at multiple international conferences" class="container mx-auto py-5">
        <Logo slot="beforeHeading" width={96} height={96} />
        <HorizontalSpacer />
        <div x-data="collapsible" data-projects={projectsJSON}>
            <div class="grid md:grid-cols-5 md:gap-8 mx-auto px-5 md:p-0">
                <div class="md:col-span-3">
                    {projects.map(({ data: project }, index) => (
                        <div 
                            class="collapse collapse-arrow"
                            tabindex={index + 1} 
                            role="button" 
                            x-on:click={`setSelectedProject(${index})`}
                        >
                            <input type="radio" name="project" aria-hidden="true" data-project/>
                            <div class="flex flex-col collapse-title space-y-3">
                                <div class="avatar avatar-placeholder">
                                    <div class="bg-accent text-neutral w-12 rounded-full">
                                        <span class="text-3xl font-thin">{`0${index+1}`}</span>
                                    </div>
                                </div>
                                <h2 class="card-title">{project.title}</h2>
                                <span class="text-primary text-lg font-medium">{project.owner}</span>
                            </div>
                            <div class="collapse-content">
                                <p class="leading-9 text-lg">{project.overview}</p>
                                <br />
                                <LinkButton href={project.url} target="_blank" rel="noopener noreferrer" displayDefaultIcon>View details</LinkButton>
                            </div>
                        </div>    
                    ))}
                </div>
                <div class="md:col-span-2">
                    <div class="card">
                        <div class="card-body-container">
                            <ul class="list">
                                <li class="border-3 border-secondary">
                                    <figure>
                                        <img class="w-full" :src="selectedProject.project_asset" :alt="selectedProject.title"/>
                                    </figure>
                                </li>
                                <li class="list-row py-5 rounded-none border-none hover:bg-primary/5">
                                    <Pin width={24} height={24} />
                                    <div class="list-col-grow space-y-2">
                                        <div class="text-neutral-500">Showcased at</div>
                                        <div>
                                            <span class="font-medium text-lg" x-text="selectedProject.showcased_at"></span>
                                            <p class="flex items-center gap-2">
                                                <img :src="selectedProject.flag_asset" :alt="selectedProject.title" />
                                                <span x-text="selectedProject.location"></span>
                                                <span class="badge badge-sm badge-primary font-semibold uppercase" x-text="selectedProject.period"></span>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-row py-5 rounded-none border-none hover:bg-primary/5">
                                    <SmileFace width={24} height={24} />
                                    <div class="list-col-grow space-y-2">
                                        <div class="text-neutral-500">Role</div>
                                        <div>
                                            <span class="mb-3 block font-medium text-primary text-lg" x-text="selectedProject.contribute_as"></span>
                                            <p class="leading-9 text-lg" x-text="selectedProject.contributions"></p>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-row py-5 rounded-none border-none hover:bg-primary/5">
                                    <Monitor width={24} height={24} />
                                    <div class="list-col-grow space-y-2">
                                        <div class="text-neutral-500">Core technologies</div>
                                        <br />
                                        <div class="flex flex-wrap gap-3">
                                            <template x-for="technology in selectedProject.technologies">
                                                <Badge class="badge-soft" x-text="technology"></Badge>
                                            </template>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </Section>
</div>

<script>
    import Alpine from 'alpinejs';
    import type { Project } from '@schemas/ProjectSchema';

    const element = document.querySelector('[data-projects]') as HTMLElement;
    const projects: { data: Project }[] = element ? JSON.parse(element.dataset.projects ?? '[]') : [];
    const initialProject = projects[0].data;

    const projectSelectorElements = document.querySelectorAll('[data-project]') as NodeListOf<HTMLInputElement>;
    projectSelectorElements[0].checked = true;

    document.addEventListener('alpine:init', () => {
        Alpine.data('collapsible', () => ({
            projects,
            selectedProject: initialProject,
            setSelectedProject(indexToSelect: number): void {
                this.selectedProject = this.projects[indexToSelect].data;
            },
        }))
    });
</script>

<style>
    @reference "tailwindcss";

    .card {
        @apply rounded-lg;
        color: var(--color-neutral-dark);
        background-color: var(--color-pale-lavender);
    }

    .card-body-container > div {
        @apply space-y-3 text-lg leading-9 text-neutral-800;
    }

    .card-title {
        @apply text-2xl leading-10 font-medium;
    }

    .card-subtitle {
        @apply font-light text-sm;
    }

    .collapse {
        @apply p-3 mb-3 border border-indigo-200 text-neutral-900;
    }
    
    .collapse:hover {
        @apply border-indigo-400 shadow-lg shadow-indigo-100 cursor-pointer;
    }
</style>