---
import { getCollection } from 'astro:content';
import { Badge, BadgeList, LinkButton, Section, HorizontalSpacer } from "../";
import Logo from '@assets/svg/projects.svg';

const projects = await getCollection('projects');
const projectsJSON = JSON.stringify(projects);
---

<div class="bg-primary/5">
    <Section headingTitle="Showcased Projects" subtitle='Presented projects at international conferences' class="space-y-3 container mx-auto mb-5">
        <Logo slot="beforeHeading" width={64} height={64} />
        <HorizontalSpacer />
        <div x-data="collapsible" data-projects={projectsJSON}>
            <div class="grid grid-cols-5 gap-6 px-10">
                <div class="col-span-2">
                    {projects.map(({ data: project }, index) => (
                        <div class="collapse" tabindex={index} role="button" x-on:click={`setSelectedProject(${index})`}>
                            <h2 class="collapse-title card-title">{project.title}</h2>
                            <div class="collapse-content card-body-container space-y-5">
                                <span id="project-owner" class="badge badge-sm badge-accent font-semibold uppercase">{project.owner}</span>
                                <span class="card-info-title">✍️ Contribuitions</span>
                                <span class="font-semibold text-primary">{project.contribute_as}</span>
                                <p class="leading-8 mt-2">{project.contributions}</p>
                                <br />
                                <LinkButton href={project.url} target="_blank" rel="noreferrer" displayDefaultIcon>View details</LinkButton>
                            </div>
                        </div>    
                    ))}
                </div>
                <div class="col-span-3">
                    <div class="card border border-indigo-200 shadow-xl shadow-indigo-100 w-full">
                        <figure>
                            <img :src="selectedProject.project_asset" :alt="selectedProject.title" />
                        </figure>
                        <div class="card-body-container p-7">
                            <span class="card-info-title">📍 Showcased at</span>
                            <span class="block font-semibold mb-2 text-xl" x-text="selectedProject.showcased_at"></span>
                            <p class="flex items-center gap-2 mb-5">
                                <img :src="selectedProject.flag_asset" :alt="selectedProject.title" />
                                <span x-text="selectedProject.location"></span>
                                <span class="badge badge-sm badge-accent font-semibold uppercase" x-text="selectedProject.period"></span>
                            </p>
                            <span class="card-info-title">💡 Overview</span>
                            <p class="leading-8 mb-5" x-text="selectedProject.overview"></p>
                            <BadgeList>
                                <template x-for="item in selectedProject.technologies" :key="item">
                                    <Badge x-text="item"></Badge>
                                </template>
                            </BadgeList>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </Section>
</div>

<script>
    import Alpine from 'alpinejs';
    import type { Project } from '@schemas/ProjectSchema';

    const element = document.querySelector('[data-projects]') as HTMLElement;
    const projects: { data: Project }[] = element ? JSON.parse(element.dataset.projects ?? '[]') : [];
    const initialProject = projects[0].data;

    document.addEventListener('alpine:init', () => {
        Alpine.data('collapsible', () => ({
            projects,
            selectedProject: initialProject,
            setSelectedProject(index: number): void {
                this.selectedProject = this.projects[index].data;
            }
        }))
    });
</script>

<style>
    @reference "tailwindcss";

    .card {
        @apply rounded-lg;
        color: var(--color-neutral-dark);
    }

    .card-body-container > div {
        @apply space-y-3 text-lg leading-9 text-neutral-800;
    }

    .card-title {
        @apply text-2xl;
    }

    .card-subtitle {
        @apply font-light text-sm;
    }

    .card-info-title {
        @apply w-full text-neutral-400 text-sm uppercase my-3 block;
    }

    .collapse {
        @apply p-3 mb-3 border border-neutral-200 text-neutral-400;
    }

    .collapse:focus, .collapse:hover {
        @apply border-indigo-200 shadow-xl shadow-indigo-100 text-neutral-950 cursor-pointer;
    }
</style>
