---
import { getCollection, getEntry } from 'astro:content';

import type { ContentDataEntryType } from '@app-types/Content';
import type { Project } from '@schemas/ProjectSchema';
import type { AboutMeData } from '@schemas/AboutMeSchema';
import { CONTENT } from '@app-types/Content';
import { LinkButton, Section, BadgeList, Badge } from "../";
import Logo from '@assets/svg/projects.svg';
import PinIcon from '@assets/svg/pin.svg';
import PenIcon from '@assets/svg/pen.svg';
import MonitorIcon from '@assets/svg/monitor.svg';
import BookIcon from '@assets/svg/book.svg';

const { lang } = Astro.params;

const [commonData, [ projectData ]] = await Promise.all([
    await getEntry(lang as ContentDataEntryType, `${lang}/${CONTENT.COMMON}`),
    await getCollection(lang as ContentDataEntryType, (collection) => collection.id === `${lang}/${CONTENT.PROJECTS}`)
]);

const { section_projects, common, header } = (commonData?.data as AboutMeData) || {};
const { data: projects } = projectData;
---

<div class="bg-primary/5 py-10" id={header.main_sections[0].anchorId}>
    <br />
    <Section headingTitle={section_projects.title} subtitle={section_projects.subtitle} class="container mx-auto">
        <Logo slot="beforeHeading" width={96} height={96} />
        <br />
        <div class="mx-auto px-5 md:px-14">
            {projects.map((project: Project, index: number) => (
                <div class="collapse collapse-arrow" tabindex={index + 1}>
                    <input type="radio" name="project" aria-hidden="true" />
                    <div class="collapse-title">
                        <div class="block avatar avatar-placeholder grow-0">
                            <div class="bg-primary text-neutral w-14 rounded-full">
                                <span class="text-3xl text-white">{`0${index+1}`}</span>
                            </div>
                        </div>
                        <div class="flex flex-col space-y-2">
                            <h2 class="title">{project.title}</h2>
                            <span class="text-neutral-600 dark:text-base-content">
                                <font class="text-2xl">🎯</font> {project.summary}
                            </span>
                            <span class="text-secondary font-medium">{project.owner}</span>
                        </div>
                    </div>
                    <div class="collapse-content">
                        <br />
                        <div class="grid md:grid-cols-5 gap-8">
                            <div class="md:col-span-2 col-span-full">
                                <ul class="list">
                                    <li class="list-row hover:bg-primary/5">
                                        <BookIcon width={32} height={32} />
                                        <div class="list-col-grow">
                                            <span class="pre-content-title">{common.overview}</span>
                                            <p>{project.overview}</p>
                                        </div>
                                    </li>
                                    <li class="list-row hover:bg-primary/5">
                                        <PenIcon width={32} height={32} />
                                        <div class="list-col-grow">
                                            <span class="pre-content-title">{common.contribuition}</span>
                                            <br />
                                            <Badge class="badge-accent badge-sm uppercase">{project.contribute_as}</Badge>
                                            <p>{project.contributions}</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="md:col-span-3 col-span-full">
                                <figure>
                                    <img src={project.project_asset} alt={project.title} />
                                </figure>
                                <br />
                                <ul class="list">
                                    <li class="list-row hover:bg-primary/5">
                                        <PinIcon width={32} height={32} />
                                        <div class="list-col-grow">
                                            <div class="pre-content-title">{common.showcased_at}</div>
                                            <div>
                                                <span class="block font-medium text-lg my-1">{project.showcased_at}</span>
                                                <p class="flex items-center gap-3">
                                                    <img src={project.flag_asset} alt={project.title} aria-label={project.title} />
                                                    <span class="text-sm">{project.location}</span>
                                                    <Badge class="badge-warning badge-sm uppercase">{project.period}</Badge>
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-row hover:bg-primary/5">
                                        <MonitorIcon width={32} height={32} />
                                        <div class="list-col-grow">
                                            <span class="pre-content-title">{common.technologies}</span>
                                            <br />
                                            <BadgeList items={project.technologies} />
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="flex justify-start md:justify-end mt-5">
                            <LinkButton href={project.url} target="_blank" rel="noopener noreferrer" displayDefaultIcon>
                                {common.view_more}
                            </LinkButton>
                        </div>
                    </div>
                </div>    
            ))}
        </div>
    </Section>
</div>

<style>
    @reference "@styles/global.css";

    .collapse {
        @apply mb-8 p-3 bg-base-100 border-0;
    }
    .collapse:hover {
        @apply shadow-xl shadow-indigo-200;
    }

    html[data-theme="dark"] .collapse {
        @apply bg-slate-900;
    }

    html[data-theme="dark"] .collapse:hover {
        @apply border-indigo-400 shadow-lg shadow-primary/65;
    }

    .collapse-title {
        @apply flex flex-col md:flex-row gap-8;
    }

    .collapse-content {
        /* @apply text-2xl leading-10 font-medium; */
    }

    .pre-content-title {
        @apply text-neutral-600 block;
    }

    html[data-theme="dark"] .pre-content-title {
        @apply text-base-content;
    }
    
    .title {
        @apply text-2xl leading-10 font-medium;
    }

    .list-row {
        @apply py-5;
    }
    .list-row p {
        @apply leading-9 text-lg;
    }

    .list-col-grow {
        @apply space-y-2;
    }

    figure {
        @apply w-full rounded-lg border-3 border-neutral-600;
    }
</style>