---
import { getCollection } from 'astro:content';
import { BadgeList, LinkButton, Section, HorizontalSpacer } from "../";
import Logo from '@assets/svg/projects.svg';

const projects = await getCollection('projects');
const selectedProject = projects[0].data;
---
<div class="bg-primary/5">
    <Section headingTitle="Showcased Projects" subtitle='Presented projects at international conferences' class="space-y-3 container mx-auto mb-5">
        <Logo slot="beforeHeading" width={64} height={64} />
        <HorizontalSpacer />
        <div class="grid grid-cols-5 gap-6 px-10">
            <div class="col-span-2">
                {projects.map(({ data: project }, index) => (
                    <div class="collapse" tabindex={index}>
                        <h2 class="collapse-title card-title">{project.title}</h2>
                        <div class="collapse-content card-body-container space-y-5">
                            <span class="card-info-title">✍️ Contribuitions</span>
                            <span class="font-semibold text-primary">{project.contribute_as}</span>
                            <p class="leading-8 mt-2">{project.contributions}</p>
                            <br />
                            <LinkButton href={project.url} target="_blank" rel="noreferrer" displayDefaultIcon>View details</LinkButton>
                        </div>
                    </div>    
                ))}
            </div>
            <div class="col-span-3">
                <div class="card border border-neutral-200 w-full">
                    <figure>
                        <img src={selectedProject.project_asset} alt="Project image" />
                    </figure>
                    <div class="card-body-container p-7">
                        <div class="flex items-center justify-between">
                            <span class="badge badge-sm badge-primary font-semibold uppercase">{selectedProject.owner}</span>
                            <span class="badge badge-sm badge-accent font-semibold uppercase">{selectedProject.period}</span>
                        </div>
                        <span class="card-info-title">📍 Showcased at</span>
                        <span class="block font-semibold mb-2">{selectedProject.showcased_at}</span>
                        <p class="flex items-center gap-2 mb-5">
                            <img src={selectedProject.flag_asset} alt={`Flag ${selectedProject.location}`} />
                            <span>{selectedProject.location}</span>
                        </p>
                        <span class="card-info-title">💡 Overview</span>
                        <p class="leading-8 mb-5">{selectedProject.overview}</p>
                        <BadgeList items={selectedProject.technologies} />
                    </div>
                </div>
            </div>
        </div>
    </Section>
</div>

<style>
    @reference "tailwindcss";

    .card {
        @apply rounded-lg;
        color: var(--color-neutral-dark);
    }

    .card-body-container > div {
        @apply space-y-3 text-lg leading-9 text-neutral-800;
    }

    .card-title {
        @apply text-2xl;
    }

    .card-subtitle {
        @apply font-light text-sm;
    }

    .card-info-title {
        @apply w-full text-neutral-400 text-sm uppercase my-3 block;
    }

    .collapse {
        @apply p-3 mb-3 border border-neutral-200 text-neutral-400;
    }

    .collapse:focus, .collapse:hover {
        @apply border-indigo-200 shadow-xl shadow-indigo-100 text-neutral-950 cursor-pointer;
    }
</style>
