---
import { getCollection } from 'astro:content';
import { BadgeList, LinkButton, Section, HorizontalSpacer } from "../";
import Logo from '@assets/svg/projects.svg';

const projects = await getCollection('projects');
const projectsJSON = JSON.stringify(projects);
---

<div class="bg-primary/5">
    <Section headingTitle="Showcased Projects" subtitle="Presented projects at international conferences" class="space-y-3 container mx-auto mb-5">
        <Logo slot="beforeHeading" width={64} height={64} />
        <HorizontalSpacer />
        <div x-data="collapsible" data-projects={projectsJSON}>
            <div class="grid md:grid-cols-5 md:gap-8">
                <div class="md:col-span-2">
                    {projects.map(({ data: project }, index) => (
                        <div 
                            class="collapse collapse-arrow"
                            tabindex={index + 1} 
                            role="button" 
                            x-on:click={`setSelectedProject(${index})`}
                        >
                            <input type="radio" name="project" aria-hidden="true" data-project/>
                            <h2 class="collapse-title card-title">{project.title}</h2>
                            <div class="collapse-content card-body-container space-y-5">
                                <span class="card-info-title">✍️ Contribuitions</span>
                                <span class="font-semibold text-primary text-lg">{project.contribute_as}</span>
                                <p class="leading-8 mt-2">{project.contributions}</p>
                                <div class="card-actions">
                                    <BadgeList items={project.technologies} badgeClass="font-semibold badge-soft badge-neutral" />
                                </div>
                            </div>
                        </div>    
                    ))}
                </div>
                <div class="md:col-span-3">
                    <div class="card w-full">
                        <figure>
                            <img class="w-full" :src="selectedProject.project_asset" :alt="selectedProject.title" />
                        </figure>
                        <div class="card-body-container pt-5">
                            <p class="flex justify-between align-middle mb-3">
                                <span class="card-info-title w-fit">📍 Showcased at</span>
                                <span id="project-owner" class="max-w-fit badge badge-sm badge-accent font-semibold uppercase my-3" x-text="selectedProject.owner"></span>
                            </p>
                            <span class="block font-semibold mb-2 text-xl" x-text="selectedProject.showcased_at"></span>
                            <p class="flex items-center gap-2 mb-5">
                                <img :src="selectedProject.flag_asset" :alt="selectedProject.title" />
                                <span x-text="selectedProject.location"></span>
                                <span class="badge badge-sm badge-primary font-semibold uppercase" x-text="selectedProject.period"></span>
                            </p>
                            <span class="card-info-title">💡 Overview</span>
                            <p class="leading-8 mb-7" x-text="selectedProject.overview"></p>
                            <div class="card-actions flex justify-end">
                                <LinkButton :href="selectedProject.url" target="_blank" rel="noreferrer" displayDefaultIcon>View details</LinkButton>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </Section>
</div>

<script>
    import Alpine from 'alpinejs';
    import type { Project } from '@schemas/ProjectSchema';

    const element = document.querySelector('[data-projects]') as HTMLElement;
    const projects: { data: Project }[] = element ? JSON.parse(element.dataset.projects ?? '[]') : [];
    const initialProject = projects[0].data;

    const projectSelectorElements = document.querySelectorAll('[data-project]') as NodeListOf<HTMLInputElement>;
    projectSelectorElements[0].checked = true;

    document.addEventListener('alpine:init', () => {
        Alpine.data('collapsible', () => ({
            projects,
            selectedProject: initialProject,
            setSelectedProject(indexToSelect: number): void {
                this.selectedProject = this.projects[indexToSelect].data;
            },
        }))
    });
</script>

<style>
    @reference "tailwindcss";

    .card {
        @apply rounded-lg;
        color: var(--color-neutral-dark);
        background-color: var(--color-pale-lavender);
    }

    .card-body-container > div {
        @apply space-y-3 text-lg leading-9 text-neutral-800;
    }

    .card-title {
        @apply text-2xl;
    }

    .card-subtitle {
        @apply font-light text-sm;
    }

    .card-info-title {
        @apply text-neutral-400 text-sm uppercase my-3 block;
    }

    .collapse {
        @apply p-3 mb-3 border border-indigo-200 text-neutral-900;
    }
    
    .collapse:hover {
        @apply border-indigo-400 shadow-lg shadow-indigo-100 cursor-pointer;
    }
</style>