---
import { getCollection } from 'astro:content';
import { BadgeList, Section, HorizontalSpacer } from "../";
import Logo from '@assets/svg/studies.svg';

const studies = await getCollection('studies');
---

<div class="bg-white">
    <Section headingTitle="Studies" subtitle="The path chosen for my academic development" class="space-y-5 container mx-auto">
        <Logo slot="beforeHeading" width={64} height={64} />
        <HorizontalSpacer />
        <!-- {studies.map(({ data: study }) => (
            <article class="flex gap-3">
                <div class="flex flex-col">
                    <span class="h-10 w-10 flex items-center justify-center text-white font-bold">1</span>
                </div>
                <div class="card w-2/5">
                    <h3 class="text-xl font-semibold">{study.level}</h3>
                    <span class="text-sm text-gray-600">{study.subject}</span>
                    <p class="mt-2 flex flex-col">
                        <span>{study.location}</span>
                        <span>{study.period}</span>
                    </p>
                </div>
                <div class="card w-4/5 p-3">
                    <h2 class="text-xl font-semibold">{study.degree}</h2>
                    <span class="text-sm text-gray-600">{study.school}</span>
                    <p class="my-3">{study.description}</p>
                    {/* <BadgeList items={study.topics} /> */}
                </div>
            </article>
        ))} -->
    </Section>
</div>

<style>
        /* background-image: linear-gradient(35deg,#ffffff,90%,rgba(255,255,255,.168627451)),linear-gradient(#ffffff 1px,transparent 0),linear-gradient(90deg,#ffffff 1px,transparent 0);
        position: relative;
        color:#000;
        background-size: 100% 100%,1ch 1ch,1ch 1ch;
        background-color: var(--color-primary); */
</style>