---
import { getCollection } from 'astro:content';
import { BadgeList, Section, HorizontalSpacer } from "../";
import Logo from '@assets/svg/studies.svg';
import Document from '@assets/svg/document.svg';
import AcademicCap from '@assets/svg/academic_cap.svg';

const studies = await getCollection('studies');
const uniqueCountries = Array.from(new Set(studies.map(({ data: study }) => study.location )));
const keySubjects = [
    "Information and Communication Technologies",
    "Tech Leadership and Strategy",
    "Business Intelligence and Data Engineering",
    "User Experience and Research"
];
---

<div class="bg-base-100">
    <Section headingTitle="Studies" subtitle="Academic development path across different countries" class="space-y-5 container mx-auto">
        <Logo slot="beforeHeading" width={96} height={96} />
        <HorizontalSpacer />
        <div class="flex md:flex-row flex-col px-5 md:px-10">
            <div class="stats lg:stats-horizontal stats-vertical border border-neutral-200 bg-base-100 w-full shadow-lg shadow-indigo-200">
                <div class="stat">
                    <div class="stat-figure">
                        <AcademicCap width={40} height={40} />
                    </div>
                    <span class="stat-title uppercase">Formal Studies Taken</span>
                    <span class="stat-value text-primary text-5xl">0{studies.length}</span>
                    <span class="font-semibold text-xl mt-3">
                        Master's Degree Level
                    </span>
                    <p class="stat-desc mt-2">Qualifications earned across these countries</p>
                    <p class="stat-actions mt-2">
                        {uniqueCountries.map((country) => (
                            <span class="badge badge-warning badge-sm font-semibold mr-1.5">{country}</span>
                        ))}
                    </p>
                </div>
                <div class="stat">
                    <div class="stat-figure">
                        <Document width={40} height={40} />
                    </div>
                    <span class="stat-title uppercase">Key areas</span>
                    <ul class="mt-3 space-y-2">
                        {keySubjects.map((subject) => 
                            <li><span class="text-accent mr-3">●</span>{subject}</li>
                        )}
                    </ul>
                </div>
            </div>
        </div>
        <br />
        <div class="timeline-wrapper px-5 md:px-10">
            {studies.map(({ data: study }) => (
                <article class="card flex md:flex-row flex-col p-4">
                    <div class="md:w-1/5 w-full p-3 space-y-3">
                        <h3 class="text-xl font-medium">{study.level}</h3>
                        <span class="text-sm text-gray-600 block mb-2">{study.subject}</span>
                        <span class="badge badge-sm badge-primary font-semibold uppercase text-white">{study.period}</span>
                        <p class="flex gap-2 items-center text-lg">
                            <img src={study.flag_asset} alt={study.location} />
                            <span>{study.location}</span>
                        </p>
                    </div>
                    <div class="md:w-4/5 w-full p-3">
                        <h2 class="text-2xl font-medium mb-1">
                            {study.degree} {study.isOngoing && <span class="badge badge-sm badge-accent uppercase">Ongoing</span>}
                        </h2>
                        <span class="text-lg text-gray-600 block mb-5">{study.school}</span>
                        <span class="card-info-title">📚 Subject</span>
                        <p class="card-content">{study.description}</p>
                        <br />
                        <BadgeList items={study.topics} badgeClass="font-semibold badge-soft" />
                    </div>
                </article>
            ))}
        </div>
    </Section>
</div>

<style>
    @reference "tailwindcss";
    
    .timeline-wrapper {
        @apply space-y-7 z-1 relative;
    }

    .timeline-wrapper::after {
        @apply border-indigo-500 border-1 border-dashed absolute bottom-0 top-0 left-24 z-0 w-0;
        content: '';
    }
    
    .card {
        @apply overflow-hidden rounded-lg border border-neutral-200 z-1;
        color: var(--color-neutral-dark);
    }

    .card:hover {
        @apply border-indigo-400 shadow-lg shadow-indigo-200;
    }

    .card-info-title {
        @apply text-neutral-400 text-sm uppercase my-4 block;
    }

    .card-content {
        @apply text-neutral-800 text-lg leading-9;
    }
</style>