---
import { getCollection } from 'astro:content';
import { BadgeList, Section, HorizontalSpacer } from "../";
import Logo from '@assets/svg/studies.svg';

const studies = await getCollection('studies');
const uniqueCountries = [...new Set(studies.map(({ data: study} ) => study.location))];
---

<div class="bg-white">
    <Section headingTitle="Studies" subtitle="The path chosen for my academic development has been across different countries" class="space-y-5 container mx-auto">
        <Logo slot="beforeHeading" width={64} height={64} />
        <HorizontalSpacer />
        <div class="timeline-wrapper">
            {studies.map(({ data: study }) => (
                <article class="card flex md:flex-row flex-col p-4">
                    <div class="md:w-1/5 w-full p-3 space-y-3">
                        <h3 class="text-xl font-semibold">{study.level}</h3>
                        <span class="text-sm text-gray-600 block mb-2">{study.subject}</span>
                        <span class="badge badge-sm badge-primary font-semibold uppercase text-white">{study.period}</span>
                        <p class="flex gap-2 items-center text-lg">
                            <img src={study.flag_asset} alt={study.location} />
                            <span>{study.location}</span>
                        </p>
                    </div>
                    <div class="md:w-4/5 w-full p-3">
                        <h2 class="text-2xl font-semibold mb-1">
                            {study.degree} {study.isOngoing && <span class="badge badge-sm badge-accent uppercase">Ongoing</span>}
                        </h2>
                        <span class="text-lg text-gray-600">{study.school}</span>
                        <span class="card-info-title">📚 Subject</span>
                        <p class="card-content">{study.description}</p>
                        <br />
                        <BadgeList items={study.topics} badgeClass="font-semibold badge-soft badge-neutral" />
                    </div>
                </article>
            ))}
        </div>
    </Section>
</div>

<style>
    @reference "tailwindcss";
    
    .timeline-wrapper {
        @apply space-y-7 z-1 relative;
    }

    .timeline-wrapper::after {
        @apply border-indigo-500 border-1 border-dashed absolute bottom-0 top-0 left-24 z-0 w-0;
        content: '';
    }
    
    .card {
        @apply overflow-hidden rounded-lg border border-neutral-200 bg-white z-1;
        color: var(--color-neutral-dark);
    }

    .card:hover {
        @apply border-indigo-400 shadow-lg shadow-indigo-100;
    }

    .card-info-title {
        @apply text-neutral-400 text-sm uppercase my-3 block;
    }

    .card-content {
        @apply text-neutral-800 text-lg leading-9;
    }
</style>