---
import { getCollection } from 'astro:content';
import { BadgeList, Section } from "../";

const studies = await getCollection('studies');
---

<Section headingTitle="Studies" class="space-y-4">
    {studies.map(({ data: study }) => (
        <article class="flex gap-3">
            <div class="card bg-amber-600 w-1/4 p-3 text-right">
                <span>{study.location}</span>
                <h3 class="text-lg font-semibold">{study.level}</h3>
                <span class="text-sm text-gray-600">{study.subject}</span>
                <span class="mt-2">{study.period}</span>
            </div>
            <div class="card bg-blue-300 w-3/4 p-3">
                <h2 class="text-xl font-semibold">{study.degree}</h2>
                <span class="text-sm text-gray-600">{study.school}</span>
                <p class="my-3">{study.description}</p>
                <BadgeList items={study.topics} />
            </div>
        </article>
    ))}
</Section>