---
import { getEntry } from 'astro:content';

import type { ContentDataEntryType } from '@app-types/Content';
import type { AboutMeData } from '@schemas/AboutMeSchema';
import { CONTENT } from '@app-types/Content';
import AstroIcon from '@assets/svg/astro.svg';
import DaisyUIIcon from '@assets/svg/daisyui.svg';

const { lang } = Astro.params;

const entry = await getEntry(lang as ContentDataEntryType, `${lang}/${CONTENT.COMMON}`);
const { section_about, footer } = (entry?.data as AboutMeData) || {};

const copyrights = `Copyrights © ${new Date().getFullYear()}`;
---

<footer>
  <div>
    <nav>
      <p class="space-y-0.5">
        <span class="block text-lg font-semibold" set:html={section_about.my_name}></span>
        <span class="uppercase text-xs">{copyrights}</span>
      </p>
    </nav>
    <nav>
      <h6 class="footer-title">{footer.powered_and_themed_by}</h6>
      <div class="links-container">
        <a href="https://astro.build" target="_blank" rel="noopener noreferrer">
          <AstroIcon class="w-24" />
        </a>
        <a href="https://daisyui.com" target="_blank" rel="noopener noreferrer">
          <DaisyUIIcon class="w-24" />
        </a>
      </div>
    </nav>
    <nav>
      <h6 class="footer-title">{footer.assets}</h6>
      <div class="links-container">
          <a href="https://www.svgrepo.com" target="_blank" rel="noopener noreferrer" class="link link-hover">SVG Repo</a>
          <a href="https://googlefonts.github.io/noto-emoji-animation" target="_blank" rel="noopener noreferrer" class="link link-hover">Animated Emoji</a>
      </div>
    </nav>
  </div>
</footer>

<style>
    @reference "@styles/global.css";
    footer {
        @apply footer sm:footer-horizontal bg-neutral-800 text-neutral-content p-5 lg:py-5 lg:px-52;
    }

    footer div {
      @apply container mx-auto flex justify-between flex-col sm:flex-row;
    }

    .links-container {
        @apply grid grid-flow-col lg:gap-4;
    }
</style>
