---
import { getEntry } from 'astro:content';

import type { ContentDataEntryType } from '@app-types/Content';
import type { AboutMeData } from '@schemas/AboutMeSchema';
import { CONTENT } from '@app-types/Content';
import LanguageIcon from '@assets/svg/language.svg';
import SunIcon from '@assets/svg/sun.svg';
import MoonIcon from '@assets/svg/moon.svg';

const { lang } = Astro.params;

const entry = await getEntry(lang as ContentDataEntryType, `${lang}/${CONTENT.COMMON}`);
const { header } = (entry?.data as AboutMeData) || {};
---

<header>
    <div class="navbar-container">
        <div class="navbar">
            <div class="navbar-start">
                <a class="btn btn-link" href="/">
                    <img src="/src/assets/brand_logo.png" width="50" height="50" alt="Brand logo" aria-label="Brand logo" />
                </a>
            </div>
            <div class="navbar-center gap-20">
                {header.main_sections.map((section) => (
                    <a 
                        role="button"
                        class="navbar-link hover:text-primary" 
                        href={`#${section.anchorId}`}
                        aria-label={`Go to ${section.label}`}
                    >
                        {section.label}
                    </a>
                ))}
            </div>
            <div class="navbar-end gap-3">
                <div class="dropdown dropdown-end">
                    <div
                        tabindex="0"
                        role="button"
                        class="btn btn-ghost btn-circle"
                    >
                        <LanguageIcon width={24} height={24} />
                    </div>
                    <ul tabindex="0" class="dropdown-content menu dropdown-menu-content">
                        {header.languages.map(({ name, locale}) => (
                            <li class:list={["text-lg", { "text-primary font-semibold": Astro.currentLocale === locale }]}>
                                <a href={`/${locale}/`}>{name}</a>
                            </li>
                        ))}
                    </ul>
                </div>
                <label class="swap swap-rotate">
                    <input id="theme-controller" type="checkbox" class="theme-controller" value="synthwave" />
                    <SunIcon />
                    <MoonIcon />
                </label>
            </div>
        </div>
    </div>
</header>

<style>
   @reference "@styles/global.css";

    header {
        @apply sticky top-0 z-50 transition-all duration-300;
    }

    .navbar-container {
        @apply w-full flex items-center justify-between bg-white/70 backdrop-blur-sm shadow-xs h-20 px-24;
        /* dark:bg-slate-700/70 */
    }

    .navbar-link {
        @apply text-xl no-underline font-semibold;
    }

    .dropdown-menu-content {
        @apply bg-base-300 rounded-box z-1 mt-1 p-2 shadow-sm;
    }
</style>

<script>
    // import { getSystemThemePreference } from '@utils/userPreferences';

    // const themeControllerSwitch = document.getElementById("theme-controller") as HTMLInputElement;
    
    // const preferredTheme = getSystemThemePreference();
    // document.documentElement.setAttribute('data-theme', preferredTheme);
    
    // if(preferredTheme === "dark" && themeControllerSwitch.checked === false) {
    //     themeControllerSwitch.checked = true;
    // }

    // themeControllerSwitch?.addEventListener("change", (event: Event) => {
    //     if (event.target instanceof HTMLInputElement) {
    //         const selectedTheme = event.target.checked ? "dark" : "light";
    //         document.documentElement.setAttribute('data-theme', selectedTheme);
    //     }
    // });
</script>
