---
import { getEntry } from 'astro:content';
import { Image } from 'astro:assets';

import type { ContentDataEntryType } from '@app-types/Content';
import { HeadingContextMenu } from '@components';
import type { AboutMeData } from '@schemas/AboutMeSchema';
import { CONTENT } from '@app-types/Content';
import LanguageIcon from '@assets/svg/language.svg';
import SunIcon from '@assets/svg/sun.svg';
import MoonIcon from '@assets/svg/moon.svg';
import BrandIcon from '@assets/brand_logo.png';

const { lang } = Astro.params;

const entry = await getEntry(lang as ContentDataEntryType, `${lang}/${CONTENT.COMMON}`);
const { header } = (entry?.data as AboutMeData) || {};
---

<header>
    <div class="navbar-container">
        <div class="navbar">
            <div class="navbar-start">
                <a class="btn btn-link btn-circle" href="/">
                    <Image src={BrandIcon} alt="Brand logo" aria-label="Brand logo" />
                </a>
            </div>
            <div class="navbar-center hidden lg:flex lg:gap-32">
                {header.main_sections.map((section) => (
                    <a 
                        role="button"
                        class="navbar-link hover:text-primary" 
                        href={`#${section.anchorId}`}
                        aria-label={`Go to ${section.label}`}
                    >
                        {section.label}
                    </a>
                ))}
            </div>
            <div class="navbar-end gap-3">
                <div class="dropdown dropdown-end">
                    <div
                        tabindex="0"
                        role="button"
                        class="btn btn-ghost btn-circle"
                    >
                        <LanguageIcon width={24} height={24} />
                    </div>
                    <ul tabindex="0" class="dropdown-content menu dropdown-menu-content">
                        {header.languages.map(({ name, locale}) => (
                            <li class:list={["lg:text-lg", { "text-primary font-semibold": Astro.currentLocale === locale }]}>
                                <a href={`/${locale}/`}>{name}</a>
                            </li>
                        ))}
                    </ul>
                </div>
                <label class="btn btn-circle btn-ghost swap swap-rotate">
                    <input id="theme-controller" type="checkbox" class="theme-controller" value="synthwave" />
                    <SunIcon />
                    <MoonIcon />
                </label>
                <HeadingContextMenu sections={header.main_sections} />
            </div>
        </div>
    </div>
</header>

<style>
   @reference "@styles/global.css";

    header {
        @apply sticky top-0 z-50 transition-all duration-300 bg-white/70 backdrop-blur-sm shadow-xs;
    }

    .navbar-container {
        @apply container mx-auto w-full flex items-center justify-between h-20 px-1;
    }

    html[data-theme="dark"] header {
        @apply bg-neutral-800/70;
    }

    .navbar-link {
        @apply text-xl no-underline font-semibold;
    }

    .dropdown-menu-content {
        @apply bg-base-300 rounded-box z-1 mt-1 p-2 shadow-sm;
    }
</style>

<script is:inline>
    const STORAGE_KEY = 'user-theme-preference';
    const themeControllerSwitch = document.getElementById("theme-controller");

    (function() {
        const getSystemPreference = () => 
            (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) ? 'dark' : 'light';
        
        const root = document.documentElement;
        const storedTheme = localStorage.getItem(STORAGE_KEY);
        
        const initialTheme = (storedTheme === 'dark' || storedTheme === 'light') 
            ? storedTheme
            : getSystemPreference();

        root.setAttribute('data-theme', initialTheme);
        themeControllerSwitch.checked = (initialTheme === "dark");
    })();
    
    document.addEventListener("DOMContentLoaded", () => {
        const rootElement = document.documentElement;
        
        if (themeControllerSwitch) {
            themeControllerSwitch.addEventListener("change", () => {
                const selectedTheme = themeControllerSwitch.checked ? "dark" : "light";
                rootElement.setAttribute('data-theme', selectedTheme);
                localStorage.setItem(STORAGE_KEY, selectedTheme);
            });
        }
    });
</script>